default_shell "fish"

theme "catppuccin-mocha"

keybinds {
    normal {
        // bind "Alt p" { SwitchToMode "Pane"; }
        // bind "Alt n" { SwitchToMode "Resize"; }
    }
    pane {
        // bind "Alt p" { SwitchToMode "Normal"; }
    }
    resize {
        // bind "Alt n" { SwitchToMode "Normal"; }
   }
}

