layout {
    tab {
        pane {
            command "ssh adamwm4@fa24-cs425-6201.cs.illinois.edu"
        }
        pane {
            command "ssh adamwm4@fa24-cs425-6202.cs.illinois.edu"
        }
        pane {
            command "ssh adamwm4@fa24-cs425-6203.cs.illinois.edu"
        }
        pane {
            command "ssh adamwm4@fa24-cs425-6204.cs.illinois.edu"
        }
        pane {
            command "ssh adamwm4@fa24-cs425-6205.cs.illinois.edu"
        }
        pane {
            command "ssh adamwm4@fa24-cs425-6206.cs.illinois.edu"
        }
        pane {
            command "ssh adamwm4@fa24-cs425-6207.cs.illinois.edu"
        }
        pane {
            command "ssh adamwm4@fa24-cs425-6208.cs.illinois.edu"
        }
        pane {
            command "ssh adamwm4@fa24-cs425-6209.cs.illinois.edu"
        }
        pane {
            command "ssh adamwm4@fa24-cs425-6210.cs.illinois.edu"
        }
    }
}
